.cat-card{
    padding: 2rem 0;
}

.cat-card img{
    width: 100%;
}

.categories-hero{
    position: relative;
}

.category-name{
    margin-left: 15rem;
}

.category-name--title{
    position: relative;
    top: -1.6rem;
    display: inline-block;
    background: var(--light-purple);
    color: white;
    padding: .5rem 1rem;
}
