:root {
    --dark: rgb(51, 51, 51);
    --gray: rgb(153, 153, 153);
    --light-gray: rgb(242, 243, 245);
    --teal: rgb(27, 152, 151);
    --light-teal: rgb(129, 208, 214);
    --dark-teal: rgb(0, 123, 119);
    --light-purple: rgb(160, 64, 152);
    --yellow: rgb(250, 166, 26);
    --dark-navy: rgb(14, 35, 64);
    --purple: rgb(70, 59, 92);
    --light-purple: rgb(160, 64, 152);
    --orange: rgb(240, 75, 36);
    --red: rgb(255, 102, 102);
    --blue: rgb(49, 85, 166);
}

p, h1, h2, h3, h4, h5, h6, ul{
    font-family: "Whitney";
    color: var(--dark);
}

a {
    color: var(--teal);
}

a:hover {
    color: var(--light-teal);
}

.color-teal{
    color: var(--teal);
}

.color-gray{
    color: var(--gray);
}

.color-lgray{
    color: var(--light-gray);
}

.color-dark-navy{
    color: var(--dark-navy);
}

.bg-lgray{
    background: var(--light-gray);
}

.bg-teal{
    background: var(--teal);
}

.bg-dark-teal{
    background: var(--dark-teal);
}

.swiper-container{
    width: 100%;
    height: auto;
}

.div-bar{
    border-top: 1px solid var(--gray);
}

.wp-block-quote {
    border-left: solid 3px black;
    padding-left: 1.5rem;
    margin: auto;
    font-style: italic;
}

@media (min-width: 768px){
    .wp-block-quote {
        width: 90%;
    }
}
