#aus-page p,
#aus-page a {
  font-family: "Whitney Book";
  font-size: 1.2rem;
}

#aus-page h1 {
  font-size: 3rem;
}

.aus-subtitle {
  font-family: "Whitney Book";
  font-style: italic;
  margin: 0;
}

.aus-title {
  color: var(--dark-teal);
  font-weight: bolder;
}

.aus-btn {
  background-color: var(--orange);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
}

.aus-btn:hover {
  border: 1px solid var(--orange);
  background-color: transparent;
  color: var(--orange);
}

.aus-links {
  list-style: none;
  text-align: center;
  padding: 0;
}

.aus-links li {
  display: inline-block;
  padding: 0 1rem;
}

.aus-links li a {
  display: inline-block;
  min-width: 8.5rem;
  background-color: var(--light-teal);
  padding: 0.2rem 1rem;
  color: white;
  text-transform: uppercase;
  border-radius: 0.2rem;
}

.aus-links li a:hover {
  background-color: teal;
}

.aus-formats-list {
  padding: 0;
  list-style: none;
}

.aus-formats-list li {
  display: inline-block;
  padding: 0 1rem;
  text-align: center;
}

.aus-formats--card-icon {
  background-color: var(--orange);
  display: inline-flex;
  padding: 2rem;
  border-radius: 50%;
}

.aus-formats--card-icon span {
  font-size: 2.5rem;
  color: white;
}

.aus-formats--card p {
  margin-top: 1.5rem;
  display: inline-block;
  background-color: white;
  font-weight: bold;
  font-size: medium !important;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  -webkit-box-shadow: 3px 3px 5px 0px #919191;
  box-shadow: 3px 3px 5px 0px #919191;
}

.content-factory--item{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr 3fr;
  max-width: 800px;
  margin-top: 3rem
}

.content-factory--item.fl-right{
  grid-template-columns: 3fr 1fr 2fr;
  margin-left: auto;
}

.content-factory--item-image,
.content-factory--item-connector,
.content-factory--item-text{
  display: flex;
  align-items: center;
}

.content-factory--item.float-right .content-factory--item-text p{
  text-align: right;
}

@media (max-width: 500px){
  .content-factory--item-connector{
    display: none;
  }

  .content-factory--item-image{
    order: 1;
  }

  .content-factory--item-text{
    order: 2;
  }

  .content-factory--item-text p{
    margin-top: 1rem;
    text-align: center;
  }

  .content-factory--item{
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .content-factory--item.fl-right{
    grid-template-columns: 1fr;
  }
}