.special-content-title a{
    color: var(--dark);
    transition: .5s;
}

.special-content-title a:hover{
    text-decoration: none;
    color: var(--light-teal);
    transition: .5s;
}

.special-content-title span {
    font-size: 1.2rem;
}