.filter-block-form{
    padding: 1rem;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
}

#submit-button-filter{
    border: none;
    background-color: var(--teal);
    padding: .3rem 1rem;
    color: white;
    border-radius: 3px;
}

.filter-block-form select{
    border: none;
    max-width: 15rem;
    margin: auto;
}

.filter-block-form select:focus{
    border: none;
    box-shadow: 0 0 0 0.1rem rgba(100, 100, 100, 0.25)
}